name: Build

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.0

      - uses: ./.github/actions/setup

      - name: Build project
        run: pnpm build

      - name: Run tests
        run: pnpm test
